.cart-page {
  padding: 2rem;
  text-align: center;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}

.cart-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(220, 205, 2, 0.921);
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cart-item-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

.cart-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.cart-buttons .btn {
  margin: 0.5rem;
}
