.catalog-container {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.catalog-container h4 {
  margin-bottom: 1rem;
}

.categories {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.categories button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  min-height: 100vh;
}
