.catalog-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.catalog-container h4 {
  margin-bottom: 1rem;
}

.categories {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.categories button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
  padding: 1rem;
  min-height: 100vh;
}

.card {
  flex: 1 1 calc(33.333% - 1rem);
  box-sizing: border-box;
  margin: 0.5rem;
  max-width: calc(33.333% - 1rem);
  box-shadow: 0 4px 8px rgba(40, 167, 69, 0.7);
  border-radius: 8px;
  transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(40, 167, 69, 0.7);
}
