.home-container {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  position: relative;
}

.home-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

.home-container h1,
.home-container p,
.home-container .btn {
  position: relative;
  z-index: 2;
}

.home-title {
  background-color: rgba(255, 238, 0, 0.695);
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
}
