.product {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 4px 8px rgba(1, 78, 19, 0.959);
  transition: transform 0.2s;
  width: 200px;
}

.product:hover {
  transform: scale(1.05);
}

.product img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  display: block;
  margin: 0 auto 1rem auto;
}

.product h3 {
  margin: 0 0 0.5rem 0;
  font-size: 1rem;
}

.product-price {
  font-size: 1rem;
  color: #333;
  margin: 0.5rem 0;
}

.product p {
  margin: 0.5rem 0;
  color: #555;
}

.prod-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1rem;
}
